@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;0,900;1,600&display=swap");
.titilo-principal {
  color: #D6721B;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  padding-top: 6%;
  font-weight: 700;
}

.titulo-h2 {
  color: #7f7f7f;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-top: 0px;
  font-weight: 700;
}

.titulo-secundario {
  color: #7f7f7f;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: start;
  margin-bottom: 25px;
  padding-top: 50px;
  font-weight: 700;
}

.titulo-secundario-p {
  color: #7f7f7f;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  padding-top: 50px;
  font-weight: 700;
}

.titulo-mascotas-banner {
  color: #D6721B;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: end;
  margin-bottom: 25px;
  padding-top: 50px;
  font-weight: 700;
}

.end {
  display: flex;
  justify-content: end;
  align-items: end;
}

.footer__texto, .flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton,
.boton-footer {
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
  border-radius: 15px;
  padding: 1%;
  width: 50%;
  color: white;
  border: none;
  margin-bottom: 6%;
  font-weight: 700;
  text-align: center;
}

.boton-slider {
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
  border-radius: 10px;
  padding: 1%;
  width: 30%;
  color: white;
  border: none;
  margin-bottom: 6%;
  font-weight: 700;
  text-align: center;
}

.text-negrita {
  color: #656565;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .responsive-opcion {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 768px) {
  .responsive-img {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .titilo-principal,
  .titulo-h2,
  .titulo-secundario,
  .titulo-secundario-p,
  .titulo-mascotas-banner,
  .letra {
    font-size: 20px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .titulo-mascotas-banner {
    background-color: rgba(16, 16, 16, 0.107);
    padding: 3%;
    border-radius: 1%;
    color: #ffa9f9;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .responsive-texto {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .fondo-footer > .container {
    background-color: #656565;
  }
}

@media screen and (max-width: 480px) {
  .reset, .container-espacio > .titilo-principal {
    margin: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .boton, .boton-slider {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .margin-responsive {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .margin-responsive {
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .responsive-texto {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .titilo-principal {
    font-size: 20px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .margin-responsive {
    padding-left: 10%;
    padding-right: 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header .header__flexible {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0 4%;
}
.header .header__flexible .header__caja {
  display: flex;
  padding: 2%;
}
.header .header__flexible .header__caja i {
  color: #FEB953;
  padding: 10px;
}
.header .header__flexible .header__caja h3 {
  font-size: 13px;
  line-height: 0.1;
}
.header .header__flexible .header__caja p {
  font-size: 13px;
}
.header .header__flexible .header__caja .redes {
  padding: 5px;
  border: solid 1px #D6721B;
  border-radius: 50%;
}
.header .header__flexible .header__caja a {
  margin-left: 3%;
}
@media (min-width: 1031px) {
  .header .header__mostrar_logo {
    display: none;
  }
}
@media (max-width: 1030px) {
  .header .header__ocultar {
    display: none;
  }
}
.header .header__menu,
.header .dropdown-menu {
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
}
.header .header__logo {
  width: 160px;
  height: 100px;
}
.header .header__a {
  margin: 15px;
}
.header .header__a a {
  color: white;
}
.header .header__a > a:hover {
  font-weight: 700;
  background-color: #D6721B;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #D6721B;
}

.interliniadoh1 {
  line-height: 15px;
}

.letra {
  font-size: 30px;
}

@media (min-width: 789px) {
  .ocultar {
    font-size: 15px;
  }
}
.container-espacio {
  padding-top: 10px;
  padding-bottom: 30px;
}
.container-espacio .mascotas-content {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 320px;
  padding: 50px 20px;
  text-align: center;
  transition: all 0.5s ease;
  background-color: #fcb3c5;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
.container-espacio .mascotas-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.container-espacio .mascotas-content p,
.container-espacio .mascotas-content a {
  font-size: 13px;
  color: #656565;
  margin: 0;
}
.container-espacio .mascotas-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.container-espacio .mascotas-box:hover .mascotas-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.container-espacio .mascotas-box:hover .mascotas-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
.container-espacio .mascotas-box .naranja {
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
}
.container-espacio .mascotas-box .mascotas-icon {
  width: 100%;
  height: 320px;
  padding: 50px 20px;
  text-align: center;
  transition: all 0.5s ease;
}
.container-espacio .mascotas-box .mascotas-icon .icono-imagen-mascotas {
  width: 100px;
}
.container-espacio .mascotas-box .mascotas-icon .front-content {
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container-espacio .mascotas-box .mascotas-icon .front-content i {
  font-size: 28px;
  color: #fff;
  font-weight: normal;
}
.container-espacio .mascotas-box .mascotas-icon .front-content h3 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.fondo-gatos {
  margin-top: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../img/footer-fondo.png);
  background-size: cover;
}

@media (min-width: 775px) {
  .banner-respnsivo {
    display: none;
  }
}
@media (max-width: 480px) {
  .flexible {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 795px) {
  .ocultar {
    display: none;
  }
}
@media (max-width: 774px) {
  .ocultar-slider {
    display: none;
  }
  .banner-respnsivo {
    background: url(../img/slider-barkcelona-04.jpg);
    background-size: cover;
    padding: 20px;
  }
  .responsivo {
    display: none;
  }
}
.galeria-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 30px 40px;
}
.galeria-container a {
  text-decoration: none;
}
.galeria-container .tz-galeria {
  padding: 40px;
}
.galeria-container .tz-galeria .box-img img {
  width: 100%;
  border-radius: 0;
  position: relative;
  padding: 2%;
}

.colorw {
  color: #fff;
}

.fondo-claro {
  background-color: rgba(244, 160, 5, 0.107);
  padding: 3%;
  border-radius: 1%;
}

.contacto img {
  width: 30%;
  object-fit: cover;
}
.contacto .p p {
  margin-left: 2%;
  margin-right: 2%;
  color: #9c9c9c;
}
.contacto .color-fondo {
  color: #ffd595;
}
.contacto .texto-col {
  color: #656565;
}
.contacto .h2-centrado {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.contacto .contacto__h2 {
  margin-bottom: 8%;
}
.contacto .tarjeta-contacto {
  display: flex;
  padding: 30px 20px 32px 100px;
  margin-bottom: 35px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
}
.contacto .tarjeta-contacto h3 {
  color: #656565;
}
@media (min-width: 350px) and (max-width: 576px) {
  .contacto .tarjeta-contacto {
    padding: 30px 20px 32px 40px;
  }
  .contacto .tarjeta-contacto h3 {
    font-size: 20px;
  }
  .contacto .tarjeta-contacto p {
    font-size: 13px;
  }
  .contacto .tarjeta-contacto .color-icon {
    font-size: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contacto .tarjeta-contacto h3 {
    font-size: 22px;
  }
  .contacto .tarjeta-contacto p {
    font-size: 12px;
  }
}
.contacto .color-icon {
  color: #FEB953;
  margin-right: 5%;
  font-size: 35px;
  padding: 10px;
}
.contacto .contacto__form > input,
.contacto textarea {
  width: 100%;
  height: 60px;
  border: 1px solid #f5c94c;
  border-radius: 30px;
  font-size: 16px;
  color: #555555;
  text-align: left;
  padding: 15px 60px 15px 30px;
  margin-bottom: 34px;
}
.contacto .textarea-form textarea {
  height: 145px;
}
.contacto .contacto__btn {
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
  border-radius: 30px;
  padding: 1%;
  width: 15%;
  color: white;
  border: none;
  margin-bottom: 6%;
}
.contacto .contacto__mapa {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.benner-quienes-somos {
  padding: 15% 10%;
  background: url(../img/slider-barkcelona-04.jpg);
  background-size: cover;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 18rem;
  font-size: 18px;
}
.card h5 {
  font-size: 25px;
}
.card .card-img-top {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.hembra {
  background-color: #ffa9f9;
}

.macho {
  background-color: #656565;
  color: azure;
  font-weight: 700;
}

.footer {
  padding-top: 1%;
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
}
.footer .footer__ico-caja {
  display: flex;
  justify-content: center;
}
.footer .footer__ico-caja i {
  color: #D6721B;
  padding: 10px;
}
.footer .footer__texto {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 1%;
}

.fondo-footer {
  background: url(../img/footer-fondo.png);
}
.fondo-footer .logo {
  width: 100px;
}
.fondo-footer .footer__texto {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 1%;
  color: #ffffff;
}
.fondo-footer .texto-color {
  color: #ffffff;
}
.fondo-footer .nav-link {
  color: #fff;
}
.fondo-footer .text-muted {
  color: #fff !important;
}

/*# sourceMappingURL=styles.css.map */
