.contacto {
img {
    width: 30%;
    object-fit: cover;
}
.p {
    p {
    margin-left: 2%;
    margin-right: 2%;
    color:$gris-claro ;
}
}
.color-fondo {
    color: $color-fondo;
}
.texto-col {
    color: $gris-oscuro-oscuro;
}
.h2-centrado {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
    .contacto__h2 {
        margin-bottom: 8%;
    }

    .tarjeta-contacto {
        display: flex;
        padding: 30px 20px 32px 100px;
        margin-bottom: 35px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0px 30px rgb(0 0 0 / 10%);
        h3 {
          color: $gris-oscuro-oscuro; 
        }
    }

    @media (min-width:350px) and (max-width:576px) {
        .tarjeta-contacto {
            padding: 30px 20px 32px 40px;
                h3 {
                    font-size: 20px;
                }

                p { font-size: 13px;}
          .color-icon {
            font-size: 25px;
          }  


        }
    }
    @media (min-width:992px) and (max-width:1199px) {
        .tarjeta-contacto {
        h3 {
            font-size: 22px;
        }

        p { font-size: 12px;}}
    }
    .color-icon {
        color: $amarillo;
        margin-right: 5%;
        font-size: 35px;
        padding: 10px;
    }

    .contacto__form>input,
    textarea {
        width: 100%;
        height: 60px;
        border: 1px solid #f5c94c;
        border-radius: 30px;
        font-size: 16px;
        color: #555555;
        text-align: left;
        padding: 15px 60px 15px 30px;
        margin-bottom: 34px;

    }

    .textarea-form {
        textarea {
            height: 145px;
        }

    }

    .contacto__btn {
        background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);
        border-radius: 30px;
        padding: 1%;
        width: 15%;
        color: #ffff;
        border: none;
        margin-bottom: 6%;

    }

    .contacto__mapa {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
}