.footer {
  padding-top: 1%;
  background: -webkit-linear-gradient(0deg, #f5c94c, #ffa9f9 100%);

  .footer__ico-caja {
    display: flex;
  justify-content: center;

    i {
      color: $color-iconos;
      padding: 10px;

    }
  }

  .footer__texto {

    font-size: 12px;
    font-family: $fuente ;
    padding: 1%;
  }
}


.fondo-footer {
  background: url(../img/footer-fondo.png);

  .logo {
    width: 100px;
  }

  .footer__texto {
    font-size: 16px;
    font-family: $fuente ;
    padding: 1%;
    color: #ffffff;
  }

  .texto-color {
    color: #ffffff;
  }

  .nav-link {
    color: #fff
  }
  .nav-link:hover {
    font-weight: 700;
  }

  .text-muted {
    color: #fff !important;
  }
  @media (max-width: 774px) {
    .footer__texto {
      background-color: $color-titulo;
    }
    i {
      color: $color-iconos;
    }
   
  .tcolor {
    color: $color-rosa;
    font-weight: 700;
  }
  }
}