@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;0,900;1,600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.interliniadoh1 {
    line-height: 15px;
}
.container-espacio{
    padding-top: 40px;
    padding-bottom: 30px;
    }