$fuente: 'Montserrat', sans-serif;
$color-iconos: #D6721B;
$color-titulo:#D6721B;
$medida-titulo: 20px;
$color-rosa: #ffa9f9;
$gris-claro: #9c9c9c;
$gris-oscuro: #7f7f7f;
$gris-oscuro-oscuro: #656565;
$amarillo:#FEB953;
$color-fondo: #ffd595;
